<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo

  </title>
  <link rel="stylesheet" type="text/css" href="static/CSS.css">
  <script src="static/jav.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>

<body>
  {% extends 'base.html' %}

  {% block body %}

  <div class="container mt-0">
    <h1 class="text-center mb-1">Heart Disease Prediction Form</h1>
    <form id="heartDiseaseForm">
      <div class="row g-3">
        <div class="col-md-6">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" name="Age" min="0">
        </div>
        <div class="col-md-6">
          <label for="sex" class="form-label">Sex</label>
          <input type="number" class="form-control" id="sex" name="Sex" min="0" max="1" placeholder="0=Female, 1=Male">
        </div>
        <div class="col-md-6">
          <label for="chest_pain_type" class="form-label">Chest pain type</label>
          <input type="number" class="form-control" id="chest_pain_type" name="Chest pain type" min="0">
        </div>
        <div class="col-md-6">
          <label for="bp" class="form-label">BP</label>
          <input type="number" class="form-control" id="bp" name="BP" min="0">
        </div>
        <div class="col-md-6">
          <label for="cholesterol" class="form-label">Cholesterol</label>
          <input type="number" class="form-control" id="cholesterol" name="Cholesterol" min="0">
        </div>
        <div class="col-md-6">
          <label for="fbs_over_120" class="form-label">FBS over 120</label>
          <input type="number" class="form-control" id="fbs_over_120" name="FBS over 120" min="0" max="1">
        </div>
        <div class="col-md-6">
          <label for="ekg_results" class="form-label">EKG results</label>
          <input type="number" class="form-control" id="ekg_results" name="EKG results" min="0">
        </div>
        <div class="col-md-6">
          <label for="max_hr" class="form-label">Max HR</label>
          <input type="number" class="form-control" id="max_hr" name="Max HR" min="0">
        </div>
        <div class="col-md-6">
          <label for="exercise_angina" class="form-label">Exercise angina</label>
          <input type="number" class="form-control" id="exercise_angina" name="Exercise angina" min="0" max="1">
        </div>
        <div class="col-md-6">
          <label for="st_depression" class="form-label">ST depression</label>
          <input type="number" class="form-control" id="st_depression" name="ST depression" step="any" min="0">
        </div>
        <div class="col-md-6">
          <label for="slope_of_st" class="form-label">Slope of ST</label>
          <input type="number" class="form-control" id="slope_of_st" name="Slope of ST" min="0">
        </div>
        <div class="col-md-6">
          <label for="number_of_vessels_fluro" class="form-label">Number of vessels fluro</label>
          <input type="number" class="form-control" id="number_of_vessels_fluro" name="Number of vessels fluro" min="0">
        </div>
        <div class="col-md-6">
          <label for="thallium" class="form-label">Thallium</label>
          <input type="number" class="form-control" id="thallium" name="Thallium" min="0">
        </div>
      </div>

    </form>
  </div>


  
  <div class="mt-3 text-center">
    <div id="container123">
      <button type="button" onclick="printData()">Submit</button>
      <button type="button" onclick="location.reload()">Reload</button>
      <button type="button" onclick="clearData()">Clear Data</button>
    </div>
  </div>

  <div id="contrainer124">
    <h2>Prediction Result</h2>
  
    </div>
  </div>

  {% endblock body %}


</body>

</html>